<!DOCTYPE html>
<html lang="en">
<%- partial('template/base/head') %>
<body>
  <%- partial('template/base/nav') %>
  <%- partial('template/base/header') %>
  <%- body %>
  <%- partial('template/base/aside') %>
  <%- partial('template/base/footer') %>
  <%- partial('template/base/to-top') %>
  <script src="<%- config.root %>js/main.js"></script>
</body>
</html>
